webhook-python.json
{
  "name": "webhook-python",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body[\"human-chat\"] }}",
        "options": {
          "systemMessage": "Responda a pergunta do usuário com respostas sucintas e objetivas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        16
      ],
      "id": "14a5760c-88e3-48c3-a752-bfb52b337beb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-3-1b",
          "mode": "list",
          "cachedResultName": "google/gemma-3-1b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "c42548ae-b35b-41c2-9742-8a2db6903b62",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ht4xzHeiW9O3NO9P",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "93e3e8f7-57ac-4290-97b9-a92f3197d675",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        16
      ],
      "id": "a1eb844a-466a-4b93-b625-70ceaf931975",
      "name": "Webhook",
      "webhookId": "93e3e8f7-57ac-4290-97b9-a92f3197d675"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        16
      ],
      "id": "c7898d48-bd27-4272-9cd4-62d9b4902192",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "35c7f81e-f18d-4226-8fa5-b94e3ddcf8cb",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7b155d5d-2a63-432f-89a2-3968d797d674",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "654f22c66e2d189b3cfbf3caae2bf509adffbc7eb68f67ed2afc3fceab3e653f"
  },
  "id": "xEc79NydWHD0ADDy",
  "tags": []
}